server:
  port: 8084

spring:
  application:
    name: checkin-service
  
  datasource:
    url: jdbc:postgresql://localhost:5433/checkin_db
    username: postgres
    password: jihane123
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  
  mail:
    host: smtp.gmail.com
    port: 587
    username: iot22926@gmail.com
    password: xthqghulkqockwnk
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
        debug: true
    test-connection: false

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    enabled: true
    fetch-registry: true
    register-with-eureka: true
    
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}
    hostname: localhost

management:
  health:
    mail:
      enabled: false  
    rabbit:
      enabled: false  
  endpoints:
    web:
      exposure:
        include: health,info,metrics
    enabled-by-default: true
  endpoint:
    health:
      enabled: true
      show-details: when-authorized
      show-components: when-authorized

